<section class="main-container">

  <div *ngIf="!isConnected" class="browser-container">
    <h3>ERROR WHILE CONNECTING:</h3>
    <p>
      There was an error trying to connect. Please try again.
    </p>
    <div class="browser-list">
      <button (click)="retryLoad()"><h4>Retry</h4></button>
    </div>
  </div>

  <div class="form-line">
    <h3>Profile:</h3>
    <select id="profiles" (change)="setCurrentProfile($event)">
      <option *ngFor="let profile of profiles" [value]="profile.idProfile">
        <h4>{{ profile.name }}</h4>
      </option>
    </select>
  </div>

  <div class="actions-container">
    <h3>Sreamings services</h3>
    <div class="actions-list">
      <button *ngFor="let provider of currentProfile.providers" [id]="provider.idService" (click)="selectSreaming(provider)">
        {{provider.name}}
      </button>
    </div>
  </div>

  <div class="browser-container" >
    <h3>Browsable items:</h3>
    <!-- <button (click)="back()" [disabled]="!isMenuAvailable">BACK</button> -->
    <br>
    <div class="container-scroll">
      <button *ngFor="let item of categories" (click)="selectCategorie(item)">
        <img *ngIf="item.urlIcon" [src]="item.urlIcon" [alt]="item.browseItemName" width="200px" height="200px">
        <h4>{{item.browseItemName}}</h4>
      </button>
    </div>
    <div>
      <button (click)="selectBackCategorie()">Back</button>
    </div>
  </div>

  <div class="actions-container">
    <h3>Player Actions</h3>
    <div class="actions-list">
      <button *ngFor="let action of actions" [value]="action.idProfile" (click)="executeAction(action)">
        {{action}}
      </button>
    </div>
  </div>

  <div>
    <h3>Now Playing</h3>
    <div class="container">
      <div>
        <img *ngIf="nowPlayingData?.albumArtUrl" [src]="nowPlayingData?.albumArtUrl" [alt]="nowPlayingData?.trackTitle" width="200px">
      </div>
      <div *ngIf="nowPlayingData?.trackTitle" class="column">
        <p>Track title: {{nowPlayingData?.trackTitle}}</p>
        <p>Album name: {{nowPlayingData?.albumName}}</p>
        <p>Artist name: {{nowPlayingData?.artistName}}</p>
        <p>Station name: {{nowPlayingData?.stationName}}</p>
      </div>
      <div *ngIf="nowPlayingData?.trackTitle" class="column">
        <p>Duration: {{nowPlayingData?.duration}}</p>
        <p>ElapsedSec: {{elapsedSec}}</p>
        <p>TrackNum: {{nowPlayingData?.trackNum}}</p>
        <p>TrackCnt: {{nowPlayingData?.trackCnt}}</p>
      </div>

      <div *ngIf="msgNotification != ''">
        <h3>
          {{msgNotification}}
        </h3>
      </div>
    </div>



  </div>


<!--   <div class="now-playing">
    <p>Track time: {{trackTime}}</p>
    <p>Playing time: {{playingTime}}</p>
    <p>Track Num: {{trackNum}}</p>
    <p>Track Count: {{trackCnt}}</p>
    <p *ngFor="let line of nowPlayingLines; let idx = index">
      Line #{{idx+1}} - {{line}}
    </p>
    <img *ngIf="hasAlbumArt" [src]="albumArtUrl" width="200px">
  </div>

  <div class="actions-container">
    <h3>Player Actions</h3>
    <div class="actions-list">
      <button *ngFor="let action of actions" [disabled]="!action.available" (click)="action.execute()">
        {{action.name}}
      </button>
    </div>
  </div>

  <div class="browser-container">
    <h2>{{browserTitle}}</h2>
    <h3>Browsable items:</h3>
    <button (click)="back()" [disabled]="!isMenuAvailable">BACK</button>
    <br>
    <div class="browser-list">
      <button *ngFor="let item of browserItems" (click)="item.select()">
        <img *ngIf="item.imageUrl" [src]="item.imageUrl" [alt]="item.title" width="200px">
        <span>{{item.title}}</span>
      </button>
    </div>
  </div>


  <div class="browser-container">
    <h3>Executable functions:</h3>
    <div class="browser-list">
      <button *ngFor="let function of executableFunctions" (click)="function.execute()">
        {{function.name}}
      </button>
    </div>
  </div>

  <div class="browser-container">
    <h3>Dialog Box Data:</h3>
    <p>
      {{dialogData | json}}
    </p>
    <div class="browser-list">
      <button *ngFor="let button of dialogData?.textForItems; let idx = index" (click)="dialogData.close(idx)">
        {{button}}
      </button>
    </div>
  </div> -->

</section>
